<template>
  <section class="has-background-dark">
    <section class="container is-fluid is-pushed-down">
      <div>
        <h1 class="has-text-centered has-text-white title is-3">
          Itential hosts various developer tools and projects.
          <h1 />
        </h1>
        <br>
      </div>
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">
                Adapter Wizard
              </p>
              <p class="subtitle">
                Create and deploy new Itential Adapters from RESTful Models.
              </p>
              <a
                class="button is-primary is-outlined"
                disabled
              >
                <b-icon
                  pack="fas"
                  icon="external-link-alt"
                  size="is-small"
                />
                <span>Open</span>
              </a>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">
                Documentation
              </p>
              <p class="subtitle">
                Official documentation, API Reference Guides, User Guides, and more.
              </p>
              <a
                href="http://docs.itential.io"
                class="button is-primary is-outlined"
              >
                <b-icon
                  pack="fas"
                  icon="external-link-alt"
                  size="is-small"
                />
                <span>Open</span>
              </a>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">
                Open Source
              </p>
              <p class="subtitle">
                Open source projects and examples for Itential products.
              </p>
              <a
                href="https://gitlab.com/itentialopensource"
                class="button is-primary is-outlined"
              >
                <b-icon
                  pack="fas"
                  icon="external-link-alt"
                  size="is-small"
                />
                <span>Open</span>
              </a>
            </article>
          </div>
        </div>
      </div>
    </section>
    <div class="has-wave-background">
      <svg
        viewBox="0 0 500 150"
        preserveAspectRatio="none"
        style="height: 100%; width: 100%; fill: #e5f2fe;"
      ><path
        d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
      /></svg>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Cards',
};
</script>

<style scoped>
.is-pushed-down {
  padding: 2rem 0;
}

.box {
  position: relative;
}

.has-wave-background {
  margin-top: -200px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
</style>
