<template>
  <section class="hero is-fullheight is-primary is-bold ignores-navbar">
    <div class="hero-body has-bg-img">
      <div class="container">
        <h1 class="title is-1">
          Itential <img
            src="../assets/heart.svg"
            alt="love"
          >s Developers
        </h1>
        <br>
        <h2 class="subtitle">
          Itential was designed for developers and network engineers.
          <br>
          We rely on open-source software, and love to give back to the
          <br>
          community with our own developer-centered projects and tools.
        </h2>
        <nuxt-link
          to="/"
          class="button is-primary"
          disabled
        >
          <span>Create an Adapter</span>
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Featured',
};
</script>

<style scoped>
.ignores-navbar {
  margin-top: -3.25rem;
}
.has-bg-img {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url('../assets/developer.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
</style>
