<template>
  <footer class="footer has-background-twitter">
    <div class="content has-text-centered">
      <p>
        ©2019 Itential. All Rights Reserved.
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>
