<template>
  <nav
    class="navbar titlebar is-fixed-top is-dark"
    role="navigation"
    aria-label="main dropdown navigation"
  >
    <div class="navbar-brand">
      <a
        class="navbar-item"
        href="/"
      >
        <img
          src="../assets/navbar-logo.svg"
          alt="Itential, LLC"
          width="140"
        >
      </a>
      <div
        class="navbar-burger"
        :class="{ 'is-active': showNav }"
        @click="showNav = !showNav"
      >
        <span />
        <span />
        <span />
      </div>
    </div>
    <div
      class="navbar-menu has-background-dark"
      :class="{ 'is-active': showNav }"
    >
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a
                href="https://twitter.com/itential"
                class="button is-dark"
              >
                <b-icon
                  pack="fab"
                  icon="twitter"
                />
              </a>
            </p>
            <p class="control">
              <a
                href="https://www.linkedin.com/company/itential/"
                class="button is-dark"
              >
                <b-icon
                  pack="fab"
                  icon="linkedin"
                />
              </a>
            </p>
            <p class="control">
              <a
                href="https://www.youtube.com/channel/UCo8Uh94DsDWWL9kZ7QhZ1ig"
                class="button is-dark"
              >
                <b-icon
                  pack="fab"
                  icon="youtube"
                />
              </a>
            </p>
            <p class="control">
              <a
                href="https://itential.atlassian.net/servicedesk/customer/portal/14"
                class="button is-primary is-rounded"
              >
                <b-icon
                  pack="fas"
                  icon="external-link-alt"
                  size="is-small"
                />
                <span>Service Desk</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  data() {
    return {
      showNav: false,
    };
  },
};
</script>
